name: Test and Lint

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'
        extensions: mbstring, intl
        coverage: none
        tools: composer, cs2pr

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Run PHPCS
      run: vendor/bin/phpcs -q --report=checkstyle | cs2pr

    - name: Setup WordPress Test Suite
      run: |
        curl -O https://raw.githubusercontent.com/wp-cli/wp-cli/master/templates/install-wp-tests.sh
        chmod +x install-wp-tests.sh
        bash install-wp-tests.sh wordpress_test root '' 127.0.0.1 latest

    - name: Run PHPUnit
      run: vendor/bin/phpunit
